<header class="header">
  <mat-toolbar color="primary" class="mat-header" role="heading">
    <button
      mat-icon-button
      class="drag-imge-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon> swipe_right</mat-icon>
    </button>
    <span>Angular Project Drag&Drop</span>
    <button
    mat-icon-button
    class="clear-imge-icon"
    aria-label="Example icon-button with menu icon"
    (click)="clearLayout()"
  >
    <mat-icon>replay_circle_filled</mat-icon>
  </button>
  </mat-toolbar>
</header>

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened class="imgContainer">
    <div
      fxLayout="column"
      fxLayoutGap="16px"
      cdkDropList
      (cdkDropListDropped)="dropSourceImage($event)"
    >
      <div
        fxFlex="25%"
        *ngFor="let image of imagesList"
        cdkDrag
        [cdkDragData]="image"
      >
        <mat-card class="">
          <span *cdkDragPreview>
            <img src="{{ '../assets/images/' + image }}"
          /></span>
          <img
            src="{{ '../assets/images/' + image }}"
            alt="Auswahl von Bildern"
            class="imgFlex"
          />
        </mat-card>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="dropContainer">
    <div class="dropZone">
      <div
        cdkDropList
        (cdkDropListDropped)="dropTargetImage($event)"
        [ngClass]="{
          newItem: true,
          flex2: imgInTargetCounter === 2,
          flex3: imgInTargetCounter === 3,
          flex4: imgInTargetCounter >= 4
        }"
      >
        <div
        class="newItemImg"
          cdkDrag
          cdkDragBoundary=".dropZone"
          [cdkDragData]="image"
          *ngFor="let image of currentTragetList; index as i"
          id="{{ i }}"
        >
          <img src="{{ '../assets/images/' + image }}" alt="Image on Goal" />
          <mat-icon id="{{ image }}" ngClass="metDeleteIcon" (click)="onDeleteDrop($event)"
            >delete_outline</mat-icon
          >
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<!-- cdkDrag cdkDragBoundary=".dropZone" -->
